EsameWsAMVP_Rist/EsameWsAMVP_Rist-war/src/conf/xml-resources/web-service-references/WS_JustEat/wsdl/localhost_8080/EsameWsAMVP-war/WS_JustEat.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSPackage/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSPackage/">

<xs:element name="AddMenuEntry" type="tns:AddMenuEntry"/>

<xs:element name="DisplayMenuRist" type="tns:DisplayMenuRist"/>

<xs:element name="DisplayMenuRistResponse" type="tns:DisplayMenuRistResponse"/>

<xs:element name="RemEntryMenuById" type="tns:RemEntryMenuById"/>

<xs:element name="RemMenuEntry" type="tns:RemMenuEntry"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="RemMenuEntry">
<xs:sequence>
<xs:element name="id_rist" type="xs:string" minOccurs="0"/>
<xs:element name="piatto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemEntryMenuById">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddMenuEntry">
<xs:sequence>
<xs:element name="id_rist" type="xs:string" minOccurs="0"/>
<xs:element name="piatto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisplayMenuRist">
<xs:sequence>
<xs:element name="id_rist" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisplayMenuRistResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>